.main-home__hero {
  @include flex-center(column);
  @include dimension-auto;
  background: $background-white-grey;
  padding: 0 1.63rem 3.44rem 2.13rem;

  @include tablet-only {
    gap: 0.5rem;
    padding-bottom: 40px;
  }
  @include desktop-only {
    gap: 1.13rem;
    padding-bottom: 30.08px;
  }

  &__title {
    @extend %flex-content-center;
    @include dimension-auto;
    align-items: flex-end;

    @include tablet-only {
      margin-top: 2rem;
      align-items: center;
      height: 2.9735rem;
    }

    @include desktop-only {
      margin-top: 1.87rem;
    }
  }

  &__title--black h1 {
    color: $color-black;
  }

  &__txt {
    @extend %flex-item-content-center;
    width: 100%;
    height: 2.875rem;

    @include tablet-only {
      width: 68.29%;
    }
  }

  &__txt--black p {
    color: $color-grey;
  }

  &__btn {
    margin-top: 1.69rem;

    @include tablet-only {
      margin-top: 0.5rem;
    }

    button {
      width: 55%;
      max-width: 218px;
    }
  }
}
