.loader {
  @extend %flex-content-center;
  place-items: center;
  position: fixed;
  background-color: $color-white;
  opacity: 0.95;
  height: 100vh;
  inset: 0;
  z-index: 2;
  animation: disappear 200ms $animation-duration-loader * $animation-count-loader forwards;
  transform-origin: top;

  &::after {
    content: "";
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-right: 15px solid $color-purple;
    border-top: 15px solid $color-pink;
    border-radius: 50%;
    animation: spin $animation-duration-loader ease-in-out;
    animation-iteration-count: $animation-count-loader;

    @include tablet-only {
      height: 30rem;
      width: 30rem;
    }

    @include desktop-only {
      height: 40rem;
      width: 40rem;
    }
  }

  &__inner {
    @include flex-center(column);
    gap: 50px;

    &__img {
      width: 100%;
      float: left;

      @include tablet-only {
        transform: scale(1.5);
      }

      @include desktop-only {
        transform: scale(2.5);
      }
    }

    &__lol {
      display: flex;

      &__wrapper {
        @extend %flex-content-center;

        &--rubik-loader {
          width: 64px;
          height: 64px;
          position: absolute;
          left: 50%;
          top: 53.5%;
          transform: translate(-50%, -50%);
          background-image: url(http://i.giphy.com/3og0ISeflb7vrNzy2A.gif);
          background-repeat: no-repeat;
          background-position: center;

          @include tablet-only {
            top: 56%;
            transform: translate(-50%, -50%) scale(1.5);
          }

          @include desktop-only {
            top: 59.5%;
            transform: translate(-50%, -50%) scale(2.5);
          }
        }
      }
    }
  }
}
