.main-home__restaurants {
  @include flex-center(column);
  padding: 3.36rem 1rem 4.13rem 1rem;
  width: 100%;

  @include tablet-only {
    padding: 1.88rem 1.25rem;
    align-items: flex-start;
    gap: 1.75rem;
    width: 100%;
  }

  @include desktop-only {
    padding: 30px 10px;
    align-items: flex-start;
    gap: 1.75rem;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: center;
  }

  h2 {
    display: flex;
    padding: 0rem 13rem 1.5rem 0rem;
    margin: 0;
    width: 100%;

    @include tablet-only {
      padding: 0;
    }

    @include desktop-only {
      padding: 0;
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    @include dimension-auto;
    gap: 1.125rem;

    @include tablet-only {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 3rem;
    }

    @include desktop-only {
      grid-gap: 3.12rem 6.25rem;
      max-width: 1440px;
    }

    &__card,
    a {
      @include flex-column;
      position: relative;
      align-items: center;
      width: 100%;
      height: 15.6875rem;
      border-radius: 0.9375rem;
      background: $color-white;
      z-index: 0;
      margin-bottom: 0;
      /* Shadow/Card */
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

      img {
        display: flex;
        width: 100%;
        height: 10.4375rem;
        border-radius: 0.9375rem 0.9375rem 0rem 0rem;
        margin: 0;
        padding: 0;
        object-fit: cover;
      }

      &__badge {
        position: absolute;
        right: 10px;
        top: 10px;
        text-decoration: none;


        span {
          @include relative-center;
          @include font-badge;
          padding: 7px;
          text-decoration: none;
          list-style: none;
          background-color: $color-green;
          border-radius: 3px;

        }
      }

      &__txt {
        display: flex;
        width: 100%;
        padding: 16px 10px 0 13px;
        height: auto;

        @include tablet-only {
          justify-content: space-between;
          padding-right: 25px;
        }

        @include desktop-only {
          justify-content: space-between;
          padding-right: 25px;
        }

        &__title {
          @include flex-column;
          @include dimension-auto;
          margin: 0;
          text-decoration: none;
          gap: 0.31rem;

          h3 {
            height: 1.25rem;
          }

          h4 {
            width: 15.4375rem;
            height: 1.5rem;
          }
        }

        &__heart {
          position: relative;

          svg {
            fill: url(#heart-gradient);
            fill-opacity: 0;

            :hover{
              fill-opacity: 1;
              animation: animation-heart 1s 0s;

            }
          }
        }

        &--black,
        h3,
        h4 {
          color: $color-black;
        }
      }

      .cta_gap {
        padding-top: 1rem;
      }
    }
  }

  &--black h2 {
    color: $color-black;
  }
}
