* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family-roboto;
  padding: 0;
  height: auto;
  margin: 0 auto;
  background: var(--background, #f6f6f6);
  min-width: 320px;
}

header,
main {
  @include flex-column;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  margin: 0;
  @include tablet-only {
  }
}

h1 {
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include tablet-only {
    font-size: 2.2rem;
  }

  @include desktop-only {
    font-size: 2.5rem;
  }
}

h2 {
  @include title-font;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h4 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

