*{
    box-sizing: border-box;   
}

html, body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    height: 2252px;
    width: 375px;
}
header, main{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
h3{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h4{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Roboto;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
// ol, li{
//     color: var(--white, #FFF);
// font-family: Roboto;
// font-size: 1rem;
// font-style: normal;
// font-weight: 500;
// line-height: normal;
// }