* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  padding: 0;
  height: auto;
  margin: 0 auto;
  background: var(--background, #f6f6f6);
}

header,
main {
  @include flex-column;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  margin: 0;
  @include tablet-only {
  }
}

h1 {
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include tablet-only {
    font-size: 2.2rem;
  }

  @include desktop-only {
    font-size: 2.5rem;
  }
}

h2 {
  @include title-font;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h4 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.loader {
  display: flex;
  justify-content: center;
  // gap: 5px;
  place-items: center;
  // flex-direction: column;
  position: fixed;
  background-color: #fff;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 2;
  animation: disappear 200ms $animation-duration forwards;
  // transform-origin: right;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__img {
      transform: scale(1.5);
    }
  }
  .lol{
    display: flex;

    i{
      animation: spin $animation-duration infinite linear;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .rubik-loader {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 51.5%;
    transform: translate(-50%, -50%);
    background-image: url(http://i.giphy.com/3og0ISeflb7vrNzy2A.gif);
    background-repeat: no-repeat;
    background-position: center;
  }
}
