//************ Section Functioning ************
@mixin title-font {
    font-family: $font-family;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}
@mixin list {
    width: 0.95456rem;
    height: 0.90906rem;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 0.88638rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@mixin elipse{
    
}