@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin relative-center {
  position: relative;
  text-align: center;
}

@mixin title-font {
  font-family: $font-family;
  font-size: $font-size-moyen;
  font-style: $font-style-normal;
  font-weight: $font-weight-max;
}

@mixin font-badge {
  font-size: $font-size-badge;
  font-family: $font-family;
  font-style: $font-style-normal;
  font-weight: $font-weight-search;
  line-height: $line-height-normal;
}

@mixin font-list {
  font-family: $font-family;
  font-size: $font-size-mini;
  font-style: $font-style-normal;
  font-weight: $font-weight-search;
  line-height: $line-height-normal;
}

// ANIMATION

@mixin heart-anim {
  background: linear-gradient(to top left, $color-primary, $color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 900;
}

// MEDIA QUERIES

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoint, tablet)) {
    @content;
  }
}
@mixin dekstop-only {
  @media screen and (min-width: map-get($breakpoint, dekstop)) {
    @content;
  }
}
