@mixin dimension-auto {
  width: 100%;
  height: auto;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin relative-center {
  position: relative;
  text-align: center;
}

@mixin paragraph-style {
  font-family: $font-family-roboto;
  font-size: $font-size-p;
  font-style: $font-style-normal;
  font-weight: $font-weight-extra-mini;
  line-height: $line-height-normal;
}

@mixin style-h1 {
  font-family: $font-family-roboto;
  font-size: $font-size-mid;
  font-style: $font-style-normal;
  font-weight: $font-weight-max;
  line-height: $line-height-normal;
}

@mixin style-h1-menu {
  color: var(--black, #101010);
  font-family: $font-family-shriland;
  font-size: 28px;
  font-style: $font-style-normal;
  font-weight: $font-weight-mini;
  line-height: $line-height-normal;
}

@mixin style-h2 {
  font-family: $font-family-roboto;
  font-size: $font-size-mid;
  font-style: $font-style-normal;
  font-weight: $font-weight-max;
}

@mixin style-h2-menu {
  color: $color-black;
  font-family: $font-family-roboto;
  font-size: 16px;
  font-style: $font-style-normal;
  font-weight: 300;
  line-height: $line-height-normal;
}

@mixin style-h3 {
  font-family: $font-family-roboto;
  font-size: $font-size-p;
  font-style: $font-style-normal;
  font-weight: $font-weight-max;
  line-height: $line-height-normal;
}

@mixin style-h3-menu {
  color: $color-black;
  font-family: $font-family-roboto;
  font-size: $font-size-p;
  font-weight: $font-weight-mid;
  font-style: $font-style-normal;
  line-height: $line-height-normal;
}

@mixin style-h4 {
  font-family: $font-family-roboto;
  font-size: $font-size-h4;
  font-weight: 300;
  font-style: $font-style-normal;
  line-height: $line-height-normal;
}

@mixin style-h4-menu {
  color: $color-black;
  font-family: $font-family-roboto;
  font-size: $font-size-h4-mini;
  font-weight: $font-weight-extra-mini;
  font-style: $font-style-normal;
  line-height: $line-height-normal;
}

@mixin font-badge {
  font-size: $font-size-badge;
  font-family: $font-family-roboto;
  font-style: $font-style-normal;
  font-weight: $font-weight-mid;
  line-height: $line-height-normal;
}

@mixin font-list {
  font-family: $font-family-roboto;
  font-size: $font-size-mini;
  font-style: $font-style-normal;
  font-weight: $font-weight-mid;
  line-height: $line-height-normal;
}

// ANIMATION
// pour chaque articles dans le tableau $numbers
@mixin boucle-anime-articles ($numbers, $delay){
  @for $i from 1 through $numbers {
    &--#{$i} {
      // calcul delai d'animation progessive et proportionnel
      animation-delay: calc($delay / $numbers) * $i;
    }
  }
}

// MEDIA QUERIES

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoint, tablet)) {
    @content;
  }
}
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoint, dekstop)) {
    @content;
  }
}

