$font-family: "Roboto", sans-serif;
$font-family-title: Shrikhand;

$font-size-mini: 1rem;
$font-size-title: 1.875rem;

$font-style-normal: normal;
$font-weight-title: 400;
$font-weight-search: 500;

$line-height-normal: normal;

$background-color: white;
$box-shadow: rgba(0, 0, 0, 0.15);
$color-title-home: black;
