.functioning {
  display: flex;
  // flex-direction: column;
  height: 27.5rem;
  width: 100%;
  // gap: 1.63rem;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: var(--white, #fff);
  &-cta {
    display: flex;
    flex-direction: column;
    gap: 1.63rem;
    width: 100%;
    height: auto;
    &__ttle {
      display: flex;
      width: 17.1875rem;
      height: 1.9375rem;
      margin: 0;
      @include title-font;
    }
    &__itm {
      display: flex;
      flex-direction: column;
      gap: 1.56rem;
      margin: 0;
      padding: 0;
      padding-left: 0.78rem;
      list-style: none;
      // position: relative;
      .itm {
        position: relative;
        // left: 10px;
        width: 20.15538rem;
        height: 4.52369rem;
        border-radius: 1.25rem;
        background: var(--background, #f6f6f6);
        text-align: center;
        padding: 1.6rem 2rem;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        .itm-logo{
            position: relative;
            left: -30px;
            text-align: center;
            // width: 0.81369rem;
            height: 1.24394rem;
            &:hover{
                color: var(--primary, #9356DC);
            }
        }
        .itm-logo__menu{
            position: relative;
            left: -35px;
            text-align: center;
        }
        .itm-txt{
          position: relative;
          left: 5px;
          text-align: center;
          color: #000;
          font-family: Roboto;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .itm__txt{
          position: relative;
          left: -6px;
        }
      }
      .itm::before {
        content: counter(list-item);
        display: flex;
        position: absolute;
        top: 1.5rem;
        left: -1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--primary, #9356dc);
        border-radius: 50%;
        color: #fff;

        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
