.functioning {
  display: flex;
  height: auto;
  width: 100%;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: $background-card;
  &-cta {
    @include flex-column;
    gap: 1.63rem;
    width: 100%;
    height: auto;
    &__ttle {
      display: flex;
      max-width: 17.1875rem;
      height: 1.9375rem;
      margin: 0;
      @include title-font;
    }
    &__itm {
      @include flex-column;
      gap: 1.56rem;
      margin: 0;
      padding: 0;
      padding-left: 0.78rem;
      list-style: none;
      width: 100%;
      .itm {
        @include relative-center;
        max-width: 20.15538rem;
        height: auto;
        border-radius: 1.25rem;
        background: $background-white-grey;
        padding: 1.6rem 2rem;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        .itm-logo{
          @include relative-center;
          left: -30px;
          height: 1.24394rem;
        }
        .itm-logo__activ{
          color: $color-activ;
        }
        .itm-logo__menu{
          @include relative-center;
          left: -35px;
        }
        .itm-txt{
          @include relative-center;
          left: 5px;
          color: $color-black;
          @include font-list
        }
        .itm__txt{
          position: relative;
          left: -6px;
        }
      }
      .itm::before {
        content: counter(list-item);
        @include flex-center;
        position: absolute;
        top: 1.5rem;
        left: -1rem;
        background-color: $color-activ;
        border-radius: 50%;
        color: $color-before;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
