.main-home__functioning {
  display: flex;
  height: auto;
  width: 100%;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: $background-card;

  @include tablet-only {
    padding: 2rem 11rem;
  }

  @include desktop-only {
    padding: 2rem 0;
  }

  &-cta {
    @include flex-center(column);
    gap: 1.63rem;
    width: 100%;
    height: auto;

    @include desktop-only {
      gap: 1.56rem;
      max-width: 1080px;
      margin: 0 auto;
      padding: 0rem 1.25rem;
    }

    h2 {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      margin: 0;
      padding-right: 162px;

      @include tablet-only {
        justify-content: flex-start;
      }
    }

    ol {
      @include flex-column;
      gap: 1.56rem;
      margin: 0;
      padding: 0;
      padding-left: 0.78rem;
      list-style: none;
      width: 100%;

      // @include tablet-only {
      //   @include flex-column;
      // }

      @include desktop-only {
        @include flex-center(row);
        gap: 2.28rem;
        //max-width: 322px;
      }

      li {
        @include relative-center;
        width: 100%;
        // height: auto;
        height: 4.52369rem;
        border-radius: 1.25rem;
        background: $background-white-grey;
        padding: 1.6rem 2rem;

        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        i {
          @include relative-center;
          left: -15%;
          height: 1.24394rem;

          @include tablet-only {
            left: -25%;
          }

          @include desktop-only {
            left: -40px;
          }
        }

        .itm-logo__activ {
          color: $color-activ;
        }

        span {
          @include relative-center;
          @include font-list;
          left: -5%;

          @include desktop-only {
            left: -5px;
          }
        }
      }

      li::before {
        content: counter(list-item);
        @include flex-center(row);
        position: absolute;
        top: 1.5rem;
        left: -1rem;
        background-color: $color-activ;
        border-radius: 50%;
        color: $color-before;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &-cta--title-black h2,
  span {
    color: #000;
  }
}
