.footer{
    @include flex-column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 22px 25px;
    gap: 16px;
    background: $background-grey;
    &-logo {
        display: flex;
        width: 100%;
        // align-items: flex-start;
        // padding-right: 50px;
        .logo{
            max-width: 8.59888rem;
            max-height: 1.6875rem;
            flex-shrink: 0;
            filter: invert(50);
            padding: 3px 30px 5px 0px;        
        }
    }
    &-list{
        @include flex-column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        margin: 0;
        padding-left: 0px;
        justify-content: center;
        list-style: none;
        gap: 7px;
        .list{
            display: flex;

            a {
                display: flex;
                gap: 1rem;
                color: var(--white, #FFF);
            }
            .list__itm {
                display: flex;
                align-items: center;
                max-width: 0.6875rem;
                height: auto;
                transform: scale(0.75);
            }
            .txt{
                @include font-list;
            }
        }
    }
}