.footer{
    @include flex-column;
    width: 375px;
    padding: 22px 25px;
    gap: 16px;
    background: $background-grey;
    &-logo {
        display: flex;
        align-items: flex-start;
        .logo{
            width: 8.59888rem;
            height: 1.6875rem;
            flex-shrink: 0;
            filter: invert(50);
            padding: 3px;        
        }
    }
    &-lists{
        @include flex-column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        margin: 0;
        padding-left: 0px;
        justify-content: center;
        list-style: none;
        gap: 7px;
        .list{
            display: flex;
            gap: 1rem;
            color: #fff;
            .list__itm{
                display: flex;
                align-items: center;
                max-width: 0.6875rem;
                height: auto;
                transform: scale(0.85);
            }
            .txt{
                @include font-list;
            }
        }
    }
}