.header-home {
  @extend %flex-item-content-center;
  width: 100%;
  padding-bottom: 0px;
  background-color: $color-white;
  background-size: cover;

  @include desktop-only {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__header {
    @extend %flex-item-content-center;
    border: none;
    width: 100%;
    height: auto;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px $box-shadow;

    @include tablet-only {
      height: 62px;
    }

    @include desktop-only {
      height: 90px;

      box-shadow: none;
      
    }
    // Page-Menu
    &--menu {
      justify-content: flex-start;
      width: 100%;
      padding: 14px 0px 13px 17px;
      // gap: 20%;

      @include tablet-only {
        // gap: 37%;
      }

      @include desktop-only {
        // gap: 40%;
        max-width: 90rem;
        margin: auto;
      }
    }

    &__icon-back {
      display: none;
      width: 30px;
      height: 30px;

      // Page-Menu
      &--menu {
        display: flex;
        // width: 100%;
        // left: 17px;
        // position: relative;
      }
    }

    &__title {
      // position: relative;
      // left: 5%;
      // bottom: 6px;
      @extend %flex-item-content-center;
      width: 100%;
      height: 36px;
      // width: 100%;
      // padding: 0rem 1.1875rem 0rem 1rem;
      @include tablet-only {
        // left: 3%;
      }
    }

    &__title--black span {
      color: $color-black;
      text-align: center;
      font-family: $font-family-shriland;
      font-size: $font-size-title;
      font-style: $font-style-normal;
      font-weight: $font-weight-mini;
      line-height: $line-height-normal;
    }
  }
  &__location {
    @extend %flex-item-content-center;
    width: 100%;
    height: 50px;

    &__search {
      display: flex;
      gap: 17px;

      &--grey i {
        max-width: 12px;
        height: 16px;
      }

      &--grey span {
        font-family: $font-family-roboto;
        font-size: $font-size-mini;
        font-style: $font-style-normal;
        font-weight: $font-weight-mid;
        line-height: $line-height-normal;
      }
    }
  }

  &__location--grey {
    background: $background-white-grey-two;

    i {
      fill: var(--grey, #353535);
    }

    span {
      color: var(--grey, #353535);
    }
  }
}
