.header-home {
  width: 100%;
  justify-content: center;
  padding-bottom: 0px;
  align-items: flex-start;
  .header {
    display: flex;
    justify-content: center;
    border: none;
    background-color: $background-white;
    width: 100%;
    height: auto;
    padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px $box-shadow;
    .icon-back {
      display: none;
    }
    .header-title {
      @include flex-center;
      max-width: 197px;
      max-height: 36px;
      padding: 0rem 1.1875rem 0rem 1rem;

      & .title-home {
        color: $color-title-home;
        text-align: center;
        font-family: $font-family-title;
        font-size: $font-size-title;
        font-style: $font-style-normal;
        font-weight: $font-weight-title;
        line-height: $line-height-normal;
      }
    }
  }
  .location {
    display: flex;
    width: 100%;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    background: var(--grey-2, #eaeaea);
    .location-search {
      display: flex;
      gap: 16.992px;
      .location-icon {
        display: flex;
        flex-direction: row;
        max-width: 12px;
        height: 16px;

        fill: var(--grey, #353535);
      }
      .search {
        color: var(--grey, #353535);
        font-family: $font-family;
        font-size: $font-size-mini;
        font-style: $font-style-normal;
        font-weight: $font-weight-search;
        line-height: $line-height-normal;
      }
    }
  }
}
