.main-menu {
  display: flex;
  flex-direction: column;

  &__picture {
    width: 100%;
    height: auto;

    img {
      object-fit: cover;
      height: 275px;
      width: 100%;
      z-index: 1;
      position: relative;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #f6f6f6;
    border-radius: 50px;
    width: 375px;
    z-index: 2;
    position: relative;
    margin-top: -40px;

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h1 {
        color: var(--black, #101010);
        font-family: Shrikhand;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: {
          left: 25px;
        }
      }
      svg {
        position: relative;
        top: 35px;
        right: 25px;

        &:hover {
            fill: $color-activ;
        }
      }
    }
  }
}
