.restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #EAEAEA;
    padding: 3.36rem 1.13rem 4.13rem 1.06rem;    

    &-title {
        display: flex;
        padding-bottom: 1.5rem;
        margin: 0;
        // width: 17.1875rem;
        // height: 4.25rem;
        color: #000;
        font-family: Roboto;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &-cards {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        height: auto;
        width: 21.25rem;
        gap: 1.125rem;
        .restaurants-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 15.6875rem;
            border-radius: 0.9375rem;
            background: #FFF;
            z-index: 0;
            margin-bottom: 0;
            /* Shadow/Card */
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            & img{
                display: flex;
                width: 21.155rem;
                // width: 120%;
                height: 10.4375rem;
                border-radius: 0.9375rem 0.9375rem 0rem 0rem;
                margin: 0;
                padding: 0;
            }
            .badge{
                position:relative;
                bottom: 150px;
                left: 275px;
                text-decoration: none;
                list-style: none;
                background-color: #99E2D0;
                text-align: center;
                font-family: Roboto;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            .cta-txt{
                display: flex;
                height: 50px;
                padding: 0rem 0rem 0rem 0.81rem;
                // justify-content: space-between;
                gap: 10px;
                // align-items: center;
                .card__txt{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    width: 16.6875rem;
                    height: auto;
                    margin: 0;
                    gap: 0.31rem;
                    color: #000;
                    h3{
                        height: 1.25rem;
                    }
                    h4{
                        width: 15.4375rem;
                        height: 1.5rem;
                    }
                }
            }
        }
        
    }
}