* {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 2252px;
  width: 375px;
}

header, main {
  display: flex;
  flex-direction: column;
}

.header-home {
  width: 23.4375rem;
  height: 7.0625rem;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}
.header-home .header {
  display: flex;
  border: none;
  background-color: white;
  width: 23.4375rem;
  height: 3.9375rem;
  padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header-home .header .icon-back {
  display: none;
}
.header-home .header .header-title {
  display: flex;
  width: 12.3125rem;
  height: 2.25rem;
  padding: 0rem 1.1875rem 0rem 1rem;
  justify-content: center;
  align-items: center;
}
.header-home .header .header-title .title-home {
  color: black;
  text-align: center;
  font-family: Shrikhand;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-home .location {
  display: flex;
  width: 23.4375rem;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  background: var(--grey-2, #eaeaea);
}
.header-home .location .location-search {
  display: flex;
  gap: 1.0625rem;
}
.header-home .location .location-search .location-icon {
  display: flex;
  flex-direction: row;
  width: 0.75rem;
  height: 1rem;
  fill: var(--grey, #353535);
}
.header-home .location .location-search .search {
  color: var(--grey, #353535);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #f6f6f6;
  padding-bottom: 3.56rem;
}

.hero-title {
  display: flex;
  align-items: flex-end;
  width: 17.1875rem;
  height: 4.25rem;
  margin-top: 2.44rem;
}
.hero-title h1 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.6875rem;
  height: 2.875rem;
}
.hero-txt p {
  color: var(--grey, #353535);
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero-btn {
  display: flex;
  margin-top: 1.69rem;
}
.hero-btn button {
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  border: none;
  background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.hero-btn .btn {
  color: var(--white, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.functioning {
  display: flex;
  flex-direction: column;
  height: 27.5rem;
  width: 100%;
  gap: 1.63rem;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: var(--white, #fff);
}
.functioning-cta {
  display: flex;
  flex-direction: column;
  gap: 1.63rem;
  width: 100%;
  height: auto;
}
.functioning-cta__ttle {
  display: flex;
  width: 17.1875rem;
  height: 1.9375rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.functioning-cta__itm {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  margin: 0;
  padding: 0;
  padding-left: 0.78rem;
  list-style: none;
}
.functioning-cta__itm .itm {
  width: 20.15538rem;
  height: 4.52369rem;
  border-radius: 1.25rem;
  background: var(--background, #F6F6F6);
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.functioning-cta__itm .itm::before {
  content: counter(list-item);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary, #9356DC);
  border-radius: 50%;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
