.header-home__location, .header-home__header__title, .header-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  height: auto;
  margin: 0 auto;
  background: var(--background, #F6F6F6);
}

header,
main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header-home {
  width: 100%;
  padding-bottom: 0px;
}
.header-home__header {
  display: flex;
  justify-content: center;
  border: none;
  background-color: white;
  width: 100%;
  height: auto;
  padding: 14px 89px 13px 89px;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .header-home__header {
    height: 45px;
    padding: 30px 0px 31.798px 0px;
  }
}
@media screen and (min-width: 1025px) {
  .header-home__header {
    height: 90px;
    padding: 30px 0px 31.798px 0px;
  }
}
.header-home__header--menu {
  justify-content: flex-start;
  align-items: center;
  padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
  gap: 20%;
}
.header-home__header__icon-back {
  display: none;
}
.header-home__header__icon-back--menu {
  display: flex;
}
.header-home__header__title {
  max-width: 197px;
  max-height: 36px;
  padding: 0rem 1.1875rem 0rem 1rem;
}
.header-home__header__title--black span {
  color: black;
  text-align: center;
  font-family: Shrikhand;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-home__location {
  width: 100%;
  height: 50px;
}
.header-home__location__search {
  display: flex;
  gap: 17px;
}
.header-home__location__search--grey i {
  max-width: 12px;
  height: 16px;
}
.header-home__location__search--grey span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-home__location--grey {
  background: var(--grey-2, #eaeaea);
}
.header-home__location--grey i {
  fill: var(--grey, #353535);
}
.header-home__location--grey span {
  color: var(--grey, #353535);
}

.main-home__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #f6f6f6;
  padding: 0 1.63rem 3.44rem 2.13rem;
}
@media screen and (min-width: 768px) {
  .main-home__hero {
    gap: 0.5rem;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__hero {
    gap: 1.13rem;
    padding-bottom: 30.08px;
  }
}
.main-home__hero__title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .main-home__hero__title {
    margin-top: 2rem;
    align-items: center;
    height: 2.9735rem;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__hero__title {
    margin-top: 1.87rem;
  }
}
.main-home__hero__title--black h1 {
  color: #000;
}
.main-home__hero__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.875rem;
}
@media screen and (min-width: 768px) {
  .main-home__hero__txt {
    width: 68.29%;
  }
}
.main-home__hero__txt--black p {
  color: var(--grey, #353535);
}
.main-home__hero__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.69rem;
}
@media screen and (min-width: 768px) {
  .main-home__hero__btn {
    margin-top: 0.5rem;
  }
}
.main-home__hero__btn button {
  width: 55%;
  max-width: 218px;
  height: 50px;
  border-radius: 1.5625rem;
  border: none;
}
.main-home__hero__btn button:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}
.main-home__hero__btn--gradient button {
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--button-gradient, linear-gradient(175deg, #ff79da 0%, #9356dc 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.main-home__functioning {
  display: flex;
  height: auto;
  width: 100%;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background: #FFF;
}
@media screen and (min-width: 768px) {
  .main-home__functioning {
    padding: 2rem 11rem;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__functioning {
    padding: 3.125rem 11.25rem;
    justify-content: flex-start;
    margin: 0 auto;
  }
}
.main-home__functioning-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.63rem;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1025px) {
  .main-home__functioning-cta {
    gap: 1.56rem;
  }
}
.main-home__functioning-cta h2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding-right: 162px;
}
@media screen and (min-width: 768px) {
  .main-home__functioning-cta h2 {
    justify-content: flex-start;
  }
}
.main-home__functioning-cta ol {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  margin: 0;
  padding: 0;
  padding-left: 0.78rem;
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-home__functioning-cta ol {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__functioning-cta ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.28rem;
  }
}
.main-home__functioning-cta ol li {
  position: relative;
  text-align: center;
  width: 100%;
  height: 4.52369rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  padding: 1.6rem 2rem;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.main-home__functioning-cta ol li i {
  position: relative;
  text-align: center;
  left: -15%;
  height: 1.24394rem;
}
@media screen and (min-width: 768px) {
  .main-home__functioning-cta ol li i {
    left: -25%;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__functioning-cta ol li i {
    left: -40px;
  }
}
.main-home__functioning-cta ol li .itm-logo__activ {
  color: var(--primary, #9356DC);
}
.main-home__functioning-cta ol li span {
  position: relative;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  left: -5%;
}
@media screen and (min-width: 1025px) {
  .main-home__functioning-cta ol li span {
    left: -5px;
  }
}
.main-home__functioning-cta ol li::before {
  content: counter(list-item);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  left: -1rem;
  background-color: var(--primary, #9356DC);
  border-radius: 50%;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}
.main-home__functioning-cta--title-black h2,
.main-home__functioning span {
  color: #000;
}

.main-home__restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.36rem 1.13rem 4.13rem 1.06rem;
}
@media screen and (min-width: 768px) {
  .main-home__restaurants {
    padding: 1.88rem 11.25rem;
    align-items: flex-start;
    gap: 1.75rem;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__restaurants {
    padding: 1.88rem 11.25rem;
    align-items: flex-start;
    gap: 1.75rem;
  }
}
.main-home__restaurants h2 {
  display: flex;
  padding: 0rem 13rem 1.5rem 0rem;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-home__restaurants h2 {
    padding: 0;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__restaurants h2 {
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.main-home__restaurants__cards {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  width: 100%;
  height: auto;
  gap: 1.125rem;
}
@media screen and (min-width: 768px) {
  .main-home__restaurants__cards {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 2rem 3rem;
    width: 95%;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__restaurants__cards {
    grid-template-columns: repeat(2, 100%);
    grid-gap: 3.12rem 6.25rem;
    width: 47%;
  }
}
.main-home__restaurants__cards__card,
.main-home__restaurants__cards a {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  height: 15.6875rem;
  border-radius: 0.9375rem;
  background: #FFF;
  z-index: 0;
  margin-bottom: 0;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.main-home__restaurants__cards__card img,
.main-home__restaurants__cards a img {
  display: flex;
  width: 100%;
  height: 10.4375rem;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.main-home__restaurants__cards__card__badge,
.main-home__restaurants__cards a__badge {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main-home__restaurants__cards__card__badge span,
.main-home__restaurants__cards a__badge span {
  position: relative;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 7px;
  text-decoration: none;
  list-style: none;
  background-color: #99E2D0;
  border-radius: 3px;
}
.main-home__restaurants__cards__card__txt,
.main-home__restaurants__cards a__txt {
  display: flex;
  width: 100%;
  padding: 0 10px 0 13px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .main-home__restaurants__cards__card__txt,
  .main-home__restaurants__cards a__txt {
    justify-content: space-between;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .main-home__restaurants__cards__card__txt,
  .main-home__restaurants__cards a__txt {
    justify-content: space-between;
    padding-right: 25px;
  }
}
.main-home__restaurants__cards__card__txt__title,
.main-home__restaurants__cards a__txt__title {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: auto;
  margin: 0;
  gap: 0.31rem;
}
.main-home__restaurants__cards__card__txt__title h3,
.main-home__restaurants__cards a__txt__title h3 {
  height: 1.25rem;
}
.main-home__restaurants__cards__card__txt__title h4,
.main-home__restaurants__cards a__txt__title h4 {
  width: 15.4375rem;
  height: 1.5rem;
}
.main-home__restaurants__cards__card__txt__heart,
.main-home__restaurants__cards a__txt__heart {
  position: relative;
}
.main-home__restaurants__cards__card__txt__heart:hover svg,
.main-home__restaurants__cards a__txt__heart:hover svg {
  fill: url(#heart-gradient);
}
.main-home__restaurants__cards__card__txt--black, .main-home__restaurants__cards__card__txt h3, .main-home__restaurants__cards__card__txt h4,
.main-home__restaurants__cards a__txt--black,
.main-home__restaurants__cards a__txt h3,
.main-home__restaurants__cards a__txt h4 {
  color: #000;
}
.main-home__restaurants__cards__card .cta_gap,
.main-home__restaurants__cards a .cta_gap {
  padding-top: 1rem;
}
.main-home__restaurants--black h2 {
  color: #000;
}

.footer-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 22px 25px;
  gap: 16px;
  background: #353535;
}
@media screen and (min-width: 768px) {
  .footer-home {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 7.125rem;
    padding: 1.5rem 1.5625rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .footer-home {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 7.125rem;
    padding: 1.875rem 1.5625rem;
    gap: 1rem;
  }
}
.footer-home__cta {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-home__cta {
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 4rem;
  }
}
@media screen and (min-width: 1025px) {
  .footer-home__cta {
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 4rem;
  }
}
.footer-home__cta__logo {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer-home__cta__logo {
    align-items: flex-end;
  }
}
@media screen and (min-width: 1025px) {
  .footer-home__cta__logo {
    align-items: flex-end;
  }
}
.footer-home__cta__logo img {
  max-width: 8.59888rem;
  max-height: 1.6875rem;
  flex-shrink: 0;
  filter: invert(50);
  padding: 3px 30px 5px 0px;
}
@media screen and (min-width: 768px) {
  .footer-home__cta__logo img {
    padding-top: 0px;
  }
}
@media screen and (min-width: 1025px) {
  .footer-home__cta__logo img {
    padding-top: 0px;
  }
}
.footer-home__cta__nav {
  display: flex;
  flex-direction: column;
}
.footer-home__cta__nav__lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  gap: 0.44rem;
}
@media screen and (min-width: 768px) {
  .footer-home__cta__nav__lists {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    gap: 1.44rem;
  }
}
@media screen and (min-width: 1025px) {
  .footer-home__cta__nav__lists {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    gap: 2.44rem;
  }
}
.footer-home__cta__nav__lists__list,
.footer-home__cta__nav__lists a {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 1025px) {
  .footer-home__cta__nav__lists__list,
  .footer-home__cta__nav__lists a {
    gap: 0.5rem;
  }
}
.footer-home__cta__nav__lists__list--white i,
.footer-home__cta__nav__lists__list span,
.footer-home__cta__nav__lists__list svg,
.footer-home__cta__nav__lists__list a,
.footer-home__cta__nav__lists a--white i,
.footer-home__cta__nav__lists a span,
.footer-home__cta__nav__lists a svg,
.footer-home__cta__nav__lists a a {
  color: var(--white, #fff);
}
.footer-home__cta__nav__lists i {
  display: flex;
  align-items: center;
  max-width: 0.6875rem;
  height: auto;
  transform: scale(0.75);
}
.footer-home__cta__nav__lists span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-menu {
  display: flex;
  flex-direction: column;
}
.main-menu__picture {
  width: 100%;
  height: auto;
}
.main-menu__picture img {
  object-fit: cover;
  height: 275px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.main-menu__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 50px;
  width: 375px;
  z-index: 2;
  position: relative;
  margin-top: -40px;
}
.main-menu__card__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-menu__card__title h1 {
  color: var(--black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
}
.main-menu__card__title svg {
  position: relative;
  top: 35px;
  right: 25px;
}
.main-menu__card__title svg:hover {
  fill: var(--primary, #9356DC);
}

/*# sourceMappingURL=main.css.map */
