.main-menu {
  @include flex-column;
  height: auto;
  background: $color-white;

  &__picture {
    display: flex;
    width: 100%;
    height: auto;
    img {
      object-fit: cover;
      height: 275px;
      width: 100%;
      z-index: 1;

      @include desktop-only {
        height: 383px;
      }
    }
  }

  &__card {
    @include flex-column;
    @include dimension-auto;
    gap: 40px;
    padding: 32px 8px 40px 8px;
    margin: 0 auto;
    background-color: $background-white-grey;
    border-radius: 50px;
    z-index: 2;
    margin-top: -40px;

    @include tablet-only {
      padding: 51px 110px 40px 110px;
    }

    @include desktop-only {
      padding: 51px 192px 40px 192px;
      max-width: 1055px;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 24px;
      width: 100%;
      height: auto;

      @include tablet-only {
        gap: 20px;
        padding: 0;
      }

      @include desktop-only {
        justify-content: center;
        gap: 24px;
      }

      h1 {
        @include style-h1-menu;
        display: flex;
        align-items: center;
        width: 100%;
        height: 27px;
        margin: 0;
        padding-left: 3%;

        @include tablet-only {
          width: 100%;
        }

        @include desktop-only {
          width: auto;
        }
      }

      svg {
        fill: url(#heart-gradient);
        fill-opacity: 0;

        :hover {
          fill-opacity: 1;
          // Transition animation
          transition: fill-opacity 1s 0s;
        }
      }
    }

    &__content {
      @include flex-column;
      @include dimension-auto;
      gap: 12px;
      animation: slide-content 1500ms ease-in-out;
      padding: 0% 3%;

      h2 {
        @include style-h2-menu;
        width: 100%;
        margin: 0;
        height: 27px;
        position: relative;
        text-transform: uppercase;

        &::before {
          content: "";
          border-bottom: 3px solid $color-green;
          position: absolute;
          width: 2.5em;
          top: 24px;
        }
      }

      &__article {
        display: flex;
        align-items: flex-end;

        padding: 0px 0px 0px 15px;
        width: 100%;
        height: 69px;
        cursor: pointer;

        border-radius: 15.043px;
        background: $color-white;
        box-shadow: 0px 12.01149px 8.0431px 0px rgba(0, 0, 0, 0.1);
        // Animation
        animation: slide-content 400ms ease-in-out;

        // appelle de la directive Sass '@each'
        // Parcours la liste 'numbers-articles' qui contient les éléments (numbers, delay)
        // et applique un style à chaque élément
        @each $numbers, $delay in $numbers-articles {
          // appelle la mixins
          @include boucle-anime-articles($numbers, $delay);
        }

        &:hover &__switch__valid {
          // Animation de reposition
          margin-right: 0;
        }

        &__title {
          @include flex-column;
          @include dimension-auto;
          margin-bottom: 10px;
          gap: 5px;
          overflow: hidden;

          h3 {
            @include style-h3-menu;
            height: 21px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          h4 {
            @include style-h4-menu;
            height: 19px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &__switch {
          display: flex;
          height: 100%;
          gap: 15px;
          // cache le contenu qui déborde
          overflow: hidden;

          strong {
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;
          }

          &__valid {
            @extend %flex-item-content-center;
            background: $color-green;
            height: 100%;
            width: 5.3rem;
            // position a l'extèrieur pour animation
            margin-right: -5.3rem;
            border-radius: 0px 15.043px 15.043px 0px;
            // Transition d'animation
            transition: margin-right 600ms;

            i {
              background: $color-white;
              border-radius: 90%;
              transform: scale(1.3);
              color: $color-green;
            }
          }
        }
      }
    }

    &__btn {
      button {
        width: 186px;
      }
    }
  }
}
